body.page-index {
    background-color: #fbfaf8;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23bbbbbb' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

body.page-index:before {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #fbfaf8 50%, transparent);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

body.page-index * {
    z-index: 5;
}

.index .photo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
    padding: 25px;
}

.index .photo img {
    width: 75px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,.04);
    border: 1px solid #ddd;
}

.index .name {
    font-size: 17px;
    font-weight: 700;
    color: #111;
    margin-bottom: 7px;
}

.index .description {
    font-size: 14px;
    font-weight: 500;
    color: #373737;
}

.index .section-name {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #777;
    margin-bottom: 15px;
}

.index .site-links {
    padding: 0;
    margin: 0;
    left: -3px;
}

.index .site-links li {
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.index .site-links li a {
    font-size: 17px;
    font-weight: 300;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
}

.index .site-links li a:hover {
    border-bottom: 1px solid var(--accent);
}

.index .links {
    margin: 0;
}

.index .links li {
    list-style: none;
    margin-bottom: 10px;
}

.index .links li a {
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    color: #555;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    background: #fbfbfb;
    box-shadow: 0 1px 2px rgba(0,0,0,.03);
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
    padding: 7px 8px;
}

.index .links li a:hover {
    color: var(--accent);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    border: 1px solid var(--accent);
}

.index .top-section {
    width: calc(100% + 100px);
    display: grid;
    grid-template-columns: 125px auto;
    background-color: #fbfaf8;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23bbbbbb' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    box-shadow: 0 2px 6px rgba(0,0,0,.04);
    border-radius: 15px;
    border: 1px solid #ddd;
    margin-left: -50px;
    margin-bottom: 50px;
}

.index .top-section:before {
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(50deg, #fff 45%, transparent);
    border-radius: 15px;
    z-index: 0;
    position: absolute;
}

.index .top-section * {
    z-index: 5;
}

@media all and (max-width: 615px) {
    .index .top-section {
        display: block;
        width: calc(100% + 50px);
        border-radius: 0;
        border-left: 0;
        border-right: 0;
        margin-left: -25px;
    }

    .index .top-section:before {
        background: linear-gradient(50deg, #fff 55%, transparent);
        border-radius: 0;
    }

    .index .top-section .photo {
        display: block;
        border: 0;
        padding-bottom: 0;
    }
}

.index .contents {
    padding: 25px;
}

.index .index-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
}

@media all and (max-width: 615px) {
    .index .index-links {
        display: block;
    }

    .index .index-links .col {
        margin-bottom: 75px;
    }

    .index .index-links .col:last-child {
        margin-bottom: 0;
    }
}